<section class="section-about">
  <div class="heading-box u-text-center u-margin-bottom-8">
    <h2 class="heading-secondary">Exciting Tours For Adventures People</h2>
  </div>

  <div class="row col-1-of-2">
    <div class="u-padding-x-8">
      <h3 class="heading-tritary u-margin-bottom-2">
        you are going to fall in love with nature
      </h3>
      <p class="paragraph-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla veritatis
        eius velit cupiditate minus natus blanditiis quibusdam distinctio.
        Consequuntur soluta omnis temporibus qui eaque vero perferendis dicta
        excepturi dolorum ad.
      </p>

      <h3 class="heading-tritary u-margin-bottom-2">
        live you advanture like you have never live before
      </h3>
      <p class="paragraph-text u-margin-bottom-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla veritatis
        eius velit cupiditate minus natus blanditiis quibusdam distinctio.
        Consequuntur .
      </p>

      <a href="" class="btn-text">learn more &rarr;</a>
    </div>
    <div>
      <div class="composition">
        <img src="../../assets/images/nat-1-large.jpg" alt="" class="composition__image image--p1" />
        <img src="../../assets/images/nat-2-large.jpg" alt="" class="composition__image image--p2" />
        <img src="../../assets/images/nat-3-large.jpg" alt="" class="composition__image image--p3" />
      </div>
    </div>
  </div>
</section>
