<section class="story">
  <div class="bg-video">
    <video muted loop autoplay>
      <source src="../../assets/images/video.mp4">
    </video>
  </div>


  <div class="tours__heading u-margin-top-4 u-margin-bottom-2 u-text-center">
    <h2 class="heading-secondary u-padding-top-2">  WE MAKE PEOPLE GENUINELY HAPPY
    </h2>
  </div>

  <div class="story__card">
    <figure class="story__shape">
      <img src="../../assets/images/nat-8.jpg" alt="" />
      <figcaption class="story__caption">Mary Smith</figcaption>
    </figure>
    <div class="story__text">
      <h3 class="u-margin-bottom-2">I had the best week ever with my family</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
      </p>
    </div>
  </div>
  <div class="story__card">
    <figure class="story__shape">
      <img src="../../assets/images/nat-5.jpg" alt="" />
      <figcaption class="story__caption">Jack wilson</figcaption>
    </figure>
    <div class="story__text">
      <h3 class="u-margin-bottom-2">WOW! MY LIFE IS COMPLETELY DIFFERENT NOW</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
      </p>
    </div>
  </div>
  <div class="story__card">
    <figure class="story__shape">
      <img src="../../assets/images/nat-6.jpg" alt="" />
      <figcaption class="story__caption">John Doe</figcaption>
    </figure>
    <div class="story__text">
      <h3 class="u-margin-bottom-2">I had the best week ever with my family</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum voluptas praesentium ea.
        onsectetur adipisicing elit. Eum voluptas praesentium ea.
      </p>
    </div>
  </div>
<div class="u-text-center">
  <a href="" class="btn-text ">learn more &rarr;</a>

</div>

</section>
