.heading-secondary {
  display: inline-block;
  font-size: 2.8rem;
  background-image: linear-gradient(
    45deg,
    rgba(40, 180, 133, 0.658),
    hsla(111, 55%, 64%, 0.692)
  );
  -webkit-background-clip: text;
  color: transparent;

  &:hover {
    transform: skewX(-20deg) scale(1.1);
  }
}

.btn{
  &--white {
    font-weight: 600;
    padding: 2rem 6rem;
    border-radius: 10rem;
    border: none;
    text-transform: uppercase;
    animation: moveToTop 1s ease-in 1s;
  }
  &--white:hover {
    cursor: pointer;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.205);
    transition: 0.3s;
  }
  &--white:active {
    cursor: pointer;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.205);
  }
}
