.u-text-center{
  text-align: center;
}


.u-margin-bottom-8{
  margin-bottom: 8rem;
}
.u-margin-bottom-2{
  margin-bottom: 2rem;
}
.u-margin-top-2{
  margin-top: 2rem;
}

.u-padding-x-8{
  padding: 0 8rem;
}
