<section class="tours">
  <div class="tours__heading u-margin-top-4 u-margin-bottom-2 u-text-center">
    <h2 class="heading-secondary">Most Popular Tours</h2>
  </div>

  <div class="row col-1-of-3 ">
    <div class="card">
      <div class="card__side card__side--front">
        <div class="card__picture card__picture-1">&nbsp;</div>
        <div class="card__heading card__heading--h1">The Sea <br> Explore</div>
        <div class="card__body">
          <ul>
            <li>3 days tours</li>
            <li>up to 30 people</li>
            <li>2 hours guides</li>
            <li>sleep in cozy hotels</li>
            <li>diffeculty : easy</li>
          </ul>
        </div>
      </div>
      <div class="card__side card__side--back side--b1">
        <div class="card__price">
          <h4 class="card__price--now">Now</h4>
          <h4 class="card__price--price">$300</h4>
        </div>
        <div class="card__cta">
          <button class="card--btn">Book Now</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__side card__side--front">
        <div class="card__picture card__picture-2">&nbsp;</div>
        <div class="card__heading card__heading--h2">The forest <br> hiker</div>
        <div class="card__body">
          <ul>
            <li>5 days tours</li>
            <li>up to 50 people</li>
            <li>5 hours guides</li>
            <li>sleep in cozy hotels</li>
            <li>diffeculty : medium</li>
          </ul>
        </div>
      </div>
      <div class="card__side card__side--back side--b2">
        <div class="card__price">
          <h4 class="card__price--now">Now</h4>
          <h4 class="card__price--price">$500</h4>
        </div>
        <div class="card__cta">
          <button class="card--btn">Book Now</button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card__side card__side--front">
        <div class="card__picture card__picture-3">&nbsp;</div>
        <div class="card__heading card__heading--h3">The snow <br> adventure</div>
        <div class="card__body">
          <ul>
            <li>7 days tours</li>
            <li>up to 70 people</li>
            <li>7 hours guides</li>
            <li>sleep in cozy hotels</li>
            <li>diffeculty : harf</li>
          </ul>
        </div>
      </div>
      <div class="card__side card__side--back side--b3">
        <div class="card__price">
          <h4 class="card__price--now">Now</h4>
          <h4 class="card__price--price">$700</h4>
        </div>
        <div class="card__cta">
          <button class="card--btn">Book Now</button>
        </div>
      </div>
    </div>

  </div>
</section>
