@import "/src/assets/style/abstract/variables";
.card {
  perspective: 160rem;
  -moz-perspective: 160rem;
  position: relative;
  display: flex;
  justify-content: center;
  position: relative;

  &__side {
    width: 24rem;
    height: 30rem;
    background-color: rgb(255, 255, 255);
    transition: all 0.8s;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 4px;
    box-shadow: 0 2.5rem 4rem rgb($color-grey-dark, 0.1);
    justify-content: center;
  }
  &__side--back {
    transform: rotateY(180deg);
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  .side {
    &--b1 {
      background-image: linear-gradient(
        45deg,
        $color-secondary-light,
        $color-secondary-dark
      );
    }
    &--b2 {
      background-image: linear-gradient(
        45deg,
        $color-primary-light,
          $color-primary-dark
      );
    }
    &--b3 {
      background-image: linear-gradient(
        45deg,
       $color-tertiary-light,
          $color-tertiary-dark
      );
    }
  }

  &__picture {
    height: 23vh;
    background-blend-mode: screen;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &-1 {
      background-image: linear-gradient(
          45deg,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("../../assets/images/nat-5.jpg");
    }
    &-2 {
      background-image: linear-gradient(
          45deg,
          $color-primary-light,
          $color-primary-dark
        ),
        url("../../assets/images/nat-6.jpg");
    }
    &-3 {
      background-image: linear-gradient(
          45deg,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url("../../assets/images/nat-7.jpg");
    }
  }

  &__heading {
    position: absolute;
    top: 7rem;
    right: 5px;
    font-size: 1.6rem;
    width: fit-content;
    padding: 0.3rem 2.5rem;
    color: $color-grey-light-1;
    text-transform: uppercase;
    &--h1 {
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      );
    }
    &--h2 {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
    }
    &--h3 {
      background-image: linear-gradient(
        to right bottom,
        $color-tertiary-light,
        $color-tertiary-dark
      );
    }
  }

  &__body {
    ul {
      list-style: none;
      text-transform: capitalize;
      width: 80%;
    }
    li {
      padding: 1rem;
      text-align: center;
      &:not(:last-child) {
        border-bottom: 1.5px solid $color-grey-light-2;
      }
    }
  }

  &__side--back {
    position: absolute;
  }

  &__price {
    font-size: 1.6rem;
    color: $color-grey-light-1;
    text-align: center;
    margin-top: 5rem;
    &--price {
      font-size: 7rem;
      font-weight: 200;
    }
  }
  &__cta {
    text-align: center;
    margin-top: 4rem;
  }
  &--btn {
    padding: 1rem 2rem;
    border-radius: 10rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }
}
