<section class="feature">
  <div class="row col-1-of-4 gap-horizontal">
    <div class="feature-box">
      <i class="fa fa-globe feature-icon u-margin-bottom-2"></i>
      <h3 class="u-margin-bottom-2">Explore The World</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta
        optio blanditiis aut invento.
      </p>
    </div>
    <div class="feature-box">
      <i class="fa fa-compass feature-icon u-margin-bottom-2"></i>
      <h3 class="u-margin-bottom-2">Meet Nature</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta
        optio blanditiis aut invento.
      </p>
    </div>
    <div class="feature-box">
      <i class="fa fa-map feature-icon u-margin-bottom-2"></i>
      <h3 class="u-margin-bottom-2">Find Your Way</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta
        optio blanditiis aut invento.
      </p>
    </div>
    <div class="feature-box">
      <i class="fa fa-heart feature-icon u-margin-bottom-2"></i>
      <h3 class="u-margin-bottom-2">Live A Healther Life</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi soluta
        optio blanditiis aut invento.
      </p>
    </div>
  </div>
</section>
